@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

@import "tailwindcss";

@theme {
  --color-light: #ffffff;
  --color-primary: #488C86;
  --color-hcolor:#2D5356;
  --color-secondary: #4d525f;
  --color-tertiary: #F1F4F9;
}

@layer utilities {
  .container-bg {
    @apply rounded-xl bg-white shadow;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
}


.abril {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

.alegreya{
  font-family: 'Alegreya Sans', sans-serif;
}

.Roboto {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.Lato {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
}
  .scrollbar-hidden {
    scrollbar-width: none;     /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
  }