@import "tailwindcss";

@theme {
  --color-light: #ffffff;
  --color-primary: #488C86;
  --color-hcolor:#2D5356;
  --color-secondary: #4d525f;
  --color-tertiary: #F1F4F9;
}

@layer utilities {
  .container-bg {
    @apply rounded-xl bg-white shadow;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
}
